<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eve_Margin_Form.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Eve_Margin_Form.Properties.Settings>
            <setting name="jitaBroker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="amarrBroker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rensBroker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hekBroker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="defaultBroker" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Eve_Margin_Form.Properties.Settings>
    </userSettings>
</configuration>